@charset 'UTF-8';

// Style file
// This file is compiled into style.css

@import 'bourbon';
@import 'neat';

// ---------- Import base ----------
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/mixins/mixins';

// ---------- Import design --------
@import 'design/layout';
@import 'design/typography';

.sidebar {
  display: none;
}

.container {
  width: $max-width;
}
