// Forms.
// Add your form related theming in this file.

// Prevents font-family inconsistency between textarea and other form elements.
button,
input,
select,
textarea {
  font-family: $base-font-family;
}

form {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='tel'],
  input[type='number'],
  input[type='date'] {
    @include form-textfield;
  }

  textarea {
    @include form-textarea;
  }

  .form-radios {
    @include form-radio;
  }

  .form-checks {
    @include form-checkbox;
  }

  select {
    @include form-select;
  }

  label {
    @include form-label;
  }

  div.description {
    @include form-description;
  }

  input.button,
  button {
    @include button;
  }
}
