// Header.
// Add your header related theming in this file.

header {
  //
}

// Use an .svg logo.
.logo {
  a {
    .svg & {
      background: url('../img/logo.svg') center center no-repeat;

      img {
        opacity: 0;
      }
    }
  }
}
