// Lay-out.
// Add your lay-out related theming in this file.

.container {
  @include outer-container;
}

header,
footer,
.main {
  @include clearfix;
}

.column {
  @include media($breakpoint-1, true) {
    @include span-columns(4  of 12);
  }
}

.layout-one-sidebar {
  @include media($breakpoint-1, true) {
    &.layout-sidebar-first {
      .layout-content {
        @include span-columns(9 of 12);
        @include omega;
      }
    }

    &.layout-sidebar-second {
      .layout-content {
        @include span-columns(9 of 12);
      }
    }

    aside {
      &.layout-sidebar-first {
        @include span-columns(3 of 12);
      }

      &.layout-sidebar-second {
        @include span-columns(3 of 12);
        @include omega;
      }
    }
  }
}

.layout-two-sidebars {
  @include media($breakpoint-1, true) {
    .layout-content {
      @include span-columns(6 of 12);
    }

    .layout-sidebar-first {
      @include span-columns(3 of 12);
    }

    .layout-sidebar-second {
      @include span-columns(3 of 12);
      @include omega;
    }
  }
}

.layout-no-sidebars {
  @include media($breakpoint-1, true) {
    .main {
      @include span-columns(12 of 12);
      @include omega;
    }
  }
}
