// Navigation.
// Add your navigation related theming in this file.

.navigation {
  ul.links,
  ul.menu {
    text-align: center;
    margin: 0;

    > li {
      margin: 0;
      padding: 0;
      float: left;

      > a {
        text-decoration: none;
        display: block;

        &:hover,
        &:focus,
        &.active {
          outline: none;
        }
      }
    }
  }
}

