// Typography

// 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
//    Source: http://clagnut.com/blog/348/#c790
// 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
//    Source: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom
html {
  font-size: 100% * ($base-font-size / 16px);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

// Addresses font-family inconsistency between 'textarea' and other form elements.
html,
button,
input,
select,
textarea {
  font-family: $base-font-family;
}


// Line-heights.
body {
  @include px-rem(font-size, $base-font-size);
  line-height: $base-line-height;
}

h1 {
  @include title;
  @include px-rem(font-size, $h1-font-size);
  margin: $h1-margin;
  padding: $h1-padding;
}

h2 {
  @include title;
  @include px-rem(font-size, $h2-font-size);
  margin: $h2-margin;
  padding: $h2-padding;
}

h3 {
  @include title;
  @include px-rem(font-size, $h3-font-size);
  margin: $h3-margin;
  padding: $h3-padding;
}

h4 {
  @include title;
  @include px-rem(font-size, $h4-font-size);
  margin: $h4-margin;
  padding: $h4-padding;
}

h5 {
  @include title;
  @include px-rem(font-size, $h5-font-size);
  margin: $h5-margin;
  padding: $h5-padding;
}

h6 {
  @include title;
  @include px-rem(font-size, $h6-font-size);
  margin: $h6-margin;
  padding: $h6-padding;
}
