// Styles > Components > Breadcrumb.
// Add your breadcrumb-related theming in this file.

.breadcrumb {
  @include px-rem(font-size, $h6-font-size);
  text-transform: uppercase;

  a {
    color: $base-text-color;
  }
}
