// Fonts.
// Add your font declarations, such as webfonts in this file.
// The actual font related theming goes in design > typography.

$base-font-family: Helvetica, Arial, sans-serif;
$title-font-family: Helvetica, Arial, sans-serif;
$normalized-font-family: sans-serif;
