// Variables.
// Add your site variables, such as colours and font sizes in this file.

$legacy-support-for-ie: false;
$normalize-headings: true;

// Colors.
$background: #fff;
$color: #444;
$color-title: #000;
$base-text-color: $color;
$base-selected-text-color: $base-text-color;
$base-selected-text-background-color: invert($base-text-color);
$base-link-color: $color;
$base-link-hover-color: invert($base-link-color);
$base-border-color: #999;

// Font sizes.
$base-font-size: 16px;
$base-line-height: 1.5;

// Default heading sizes based on "Perfect Fourth" and base-font-size: 16px;
// Source: http://type-scale.com
$h1-font-size: 50px;
$h2-font-size: 38px;
$h3-font-size: 28px;
$h4-font-size: 21px;
$h5-font-size: 16px;
$h6-font-size: 12px;

$h1-margin: 0 0 10px 0;
$h2-margin: 0 0 10px 0;
$h3-margin: 0 0 10px 0;
$h4-margin: 0;
$h5-margin: 0;
$h6-margin: 0;

$h1-padding: 0;
$h2-padding: 0;
$h3-padding: 0;
$h4-padding: 0;
$h5-padding: 0;
$h6-padding: 0;

// Breakpoints.
$breakpoint-1: 35em;
$breakpoint-2: 55em;
