// Styles.
// Add your content-specific theming in this file.
// All general theming should go in the design folder.

@import 'component/component';
@import 'node/node';
@import 'view/view';
@import 'page/page';

html {
  color: $base-text-color;

  ::selection {
    color: $base-selected-text-color;
    background: $base-selected-text-background-color;
  }
}

// Base responsive images.
img {
  height: auto;
  max-width: 100%;
}

// Base link settings.
a {
  color: $base-link-color;

  &:hover,
  &:focus {
    color: $base-link-hover-color;
  }
}
