// Mixins - buttons.
// Add all button related mixins in this file.

@mixin button {
  @include px-rem(font-size, $base-font-size);
  background: $background;
  border: 1px solid $color;
  border-radius: 2px;
  box-shadow: none;
  color: $base-link-color;
  display: inline-block;
  line-height: 1;
  padding: 6px 10px 5px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  transition: background 150ms linear, color 150ms linear;
  -o-transition: background 150ms linear, color 150ms linear;
  -ms-transition: background 150ms linear, color 150ms linear;
  -webkit-font-smoothing: antialiased;

  &.active,
  &:hover,
  &:focus {
    background: $base-link-color;
    color: $background;
    outline: none;
  }
}
