// Mixins - forms.
// Add all form related mixins in this file.

@mixin form-textfield {
  @include media($breakpoint-1, true) {
    max-width: 50%;
  }

  background: $background;
  border: 1px solid $base-border-color;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
  width: 100%;

  &:focus {
    border-color: $color;
    outline: none;
  }
}

@mixin form-textarea {
  background: $background;
  border: 1px solid $base-border-color;
  border-radius: 2px;
  box-sizing: border-box;
  min-height: 100px;
  padding: 10px;
  width: 100%;

  &:focus {
    border-color: $color;
    outline: none;
  }
}

@mixin form-radio {
  input[type='radio'] {
    margin: 0 3px 0 1px;

    &:focus {
      border-color: $color;
      outline: none;
    }
  }

  label {
    color: $color;
    display: inline-block;
    font-size: $base-font-size;
    font-family: $base-font-family;
    margin: 10px 0;
  }
}

@mixin form-checkbox {
  input[type='checkbox'] {
    margin: 0 3px 0 1px;

    &:focus {
      border-color: $color;
      outline: none;
    }
  }

  label {
    color: $color;
    display: inline-block;
    font-size: $base-font-size;
    font-family: $base-font-family;
    margin: 10px 0;
  }
}

@mixin form-select {
  @include media($breakpoint-1, true) {
    max-width: 50%;
  }

  background: $background;
  border: 1px solid $base-border-color;
  box-sizing: border-box;
  min-height: 40px;
  padding: 10px;
  width: 100%;

  &:focus {
    border-color: $color;
    outline: none;
  }
}

@mixin form-label {
  @extend h4;
  display: block;
  margin: 20px 0 5px;
}

@mixin form-description {
  //
}
