// Mixins - grid.
// Add all grid related mixins in this file.

$gutter-width: ($max-width / $grid-columns) * ($gutter / ($gutter + $column));

  // Omega reset.
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) {
    margin-right: $grid-padding;
  }

  &:nth-child(#{$nth}+1) {
    clear: none;
  }
}

// Column layouts.
@mixin col-2 {
  @include media($breakpoint-2, true) {
    @include span-columns(6 of 12);
  }

  margin: 0 0 25px;

  &.views-row-even {
    @include omega;
  }
}

@mixin col-3 {
  @include span-columns(12 of 12);

  @include media($breakpoint-1, true) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }

  @include media($breakpoint-2, true) {
    @include omega-reset(2n);
    @include span-columns(4 of 12);
    @include omega(3n);
  }
}

@mixin col-4 {
  @include media($breakpoint-1, true) {
    @include span-columns(6 of 12);

    &:nth-child(2n) {
      @include omega;
    }
  }

  @include media($breakpoint-2, true) {
    @include span-columns(3 of 12);

    &:nth-child(3n + 1) {
      clear: none !important;
    }

    &:nth-child(4n) {
      @include omega;
    }

    &:nth-child(4n + 1) {
      clear: both;
    }
  }
}

@mixin col-6 {
  @include span-columns(6 of 12);
  @include omega(2n);

  @include media($breakpoint-1, true) {
    @include span-columns(4 of 12);
    @include omega-reset(2n);
    @include omega(3n);
  }

  @include media($breakpoint-3, true) {
    @include span-columns(2 of 12);
    @include omega-reset(3n);
    @include omega(6n);
    margin-bottom: 0;
  }
}
